*.pyc

*.rpyc

*.rpymc

*.bak

*.png

*.jpg

*.save

/saves

game/saves/persistent

errors.txt

log.txt

traceback.txt

game/saves/navigation.json

game/cache/bytecode.rpyb

game/cache/screens.rpyb

game/cache/shaders.txt

game/cache/pyanalysis.rpyb

game/cache/py3analysis.rpyb
